my-item img{
    height: 125px ;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

 }
figcaption{
    text-align: center;
}
figure{
    height: 175px;
}
my-item{
    margin: 2%;
    float: left;
    width: 21%;
    height: 300px;
    border: 1px;
    border-color: #1daf96;
    border-style: solid;
}

#item{
    margin-left: 2%;
    float: left;
    width: 75%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 5px;
    border-bottom-color: #1daf96;
    border-style: solid;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-top-color: #ffffff;

}

li {
    margin-left: 1%;
    margin-top: 30px;
    width: 200px;
    font-size: 300%;
    color: #ffffff;
    float: left;
    background-color: #1daf96;
}

ul span{
    margin-left: 25%;
}

my-item span{
    margin-left: 10%;
}


aside{
    float: left;
    width: 18%;
    margin-top: -1%;
    margin-right: 5%;
    color: #ffffff;
    background-color: #1daf96;
    height: 1400px;
}
my-item button{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #0e0e0e;
    background-color: #1daf96;


}
.price{
    font-size: 250%;
}
aside h2,h5{
    text-align: center;
}
#confirmPur{
    float: right;
    margin-right: 5%;
    margin-top: 3%;
    width: 60%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #0e0e0e;
    background-color: #c5e5d3;
    font-weight: bold;

}
.modify{
    float: right;
    margin-right: 10%;
    width: 10%;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    color: #0e0e0e;
    background-color: #ffffff;
    font-weight: bold;
}

.quan{
    margin-right:6%;
    float: right;
}

.result{
    margin-right: 5%;
    float: right;
    font-weight: bold;
}



#emptycart{
    cursor: pointer;
    border: none;
    margin-left: 65%;
    background-color: #1daf96;

}
my-cart div{
    color: #0e0e0e;
    margin-top: 4%;
    background-color: #1ecdb3;
}
.delete{
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 75%;
    background-color: #1ecdb3;


}
.cartele{
    margin-left: 5%;
}
.cartimg{
    margin-left: 5%;
    float: left;
    width: 50px;
}
.carttotal{
    margin-left: 5% ;
    margin-top: 10%;
}
my-cart span{
    margin-right: 15%;
}


.lineup{
    margin-top: 7%;
    margin-left: 10%;
    border-radius: 20px;
    border-bottom: 2px;
    border-bottom-color: #ffffff;
    border-style: solid;
    border-left-color: #1daf96;
    border-right-color: #1daf96;
    border-top-color: #1daf96;
}





































