<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jarvis Shop Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  rel="stylesheet" type="text/css" href="main.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


</head>
<body ng-app="MyApp" ng-controller="shopcart">
<!--
navigation bar for some more content
-->
<header>
<ul>
    <li><span>Fruit</span></li>
</ul>
</header>

<div>
<!--
display all the items in the json file
-->
<div   id="item">
    <my-item ng-repeat="item in items"></my-item>
</div>

<!--
shopping cart
-->
<aside>
    <h2>Shopping Cart</h2>
    <h5>{{totalitem()}} items</h5>

<!--
    show all the chosen items
-->
    <div id="shopcart">
      <my-cart ng-repeat="data in invoice.datas"></my-cart>
    </div>

    <div class="lineup"></div>
    <h4 class="result">Total: {{total() | currency}}</h4>
    <button id="emptycart" ng-click="emptyCart()">Empty Cart</button><br>
    <button id="confirmPur" ng-click="updatelist()">Confirm Purchase</button>
</aside>
</div>


<script src="main.js"></script>
</body>
</html>