<div>
    <h3 class="cartele">{{data.itemName}}</h3>

    <span class="cartele">{{data.price | currency}}</span>

    <img class="cartimg" src="{{data.imgSrc}}"><br>

    <button class="modify" ng-click="somemore($index,data.quantity,data.itemName,data.price,data.quantityRemaining,data.imgSrc)">+</button>

    <div class="quan">{{data.quantity}}</div>

    <button class="modify" ng-click="someless($index,data.quantity,data.itemName,data.price,data.quantityRemaining,data.imgSrc)">-</button>

    <br>

    <p class="carttotal">Subtotal:{{data.quantity}}X{{data.price | currency}}={{data.quantity*data.price | currency}}</p>

    <button ng-click="removeItem($index)" class="delete">Delete</button>

</div>
